<%= stylesheet_link_tag 'movies_index' %>

<h1 class="p-3 mb-2 bg-light text-dark">作品リスト
  <span class="badge badge-secondary ml-3">ヒット件数：<%= @counts_movie %></span>
</h1>

<p>15件を超えると、ページネーションされます。</p>
  
<table class="table table-bordered">
  <thead class="bg-light">
    <tr>
      <th>作品</th>
      <th>あらすじ</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <th>
          <%= image_tag movie.image_path %>
          <%= link_to movie.title, movie_path(movie) %>
        </th>
        <td>
          <%= movie.synopsis %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @movies %>