<h1 class="p-3 mb-2 bg-light text-dark">作品リスト
  <span class="badge badge-secondary ml-3">検索件数：<%= @counts_movie %></span>
</h1>

15件を超えると、ページネーションされます。
  
<div class="work-info mt-3">
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr>
        <th class="text-center", width="400">作品</th>
        <th class ="text-center", width="400">あらすじ</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.find_each do |movie| %>
        <tr>
          <th class="text-center">
            <%= image_tag movie.image_path, :width => '100%' %>
            <%= link_to movie.title, movie_path(movie) %>
          </th>
          <td>
            <%= movie.synopsis %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @movies %>