<h1 class="p-3 mb-3 bg-light text-dark">作品詳細</h1>

ここでの「制作」は、アニメ作品の場合、アニメーション制作会社。映画作品の場合、映画監督のことを表しています。
<div class="work-information mt-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-2">
        <%= image_tag @movie.image_path, :width => '100%' %>
      </div>
      <div class="d-flex justify-content-center">
        <%= render 'favorites/favorite_button', movie: @movie %>
      </div>
      <p class="text-center">評価：未実装</p>
    </div>
    
    <div class="col-sm-6", height="250">
      <ul>
        <li>作品名：<%= @movie.title %></li>
        <li>制作：<%= @movie.company %></li>
        <li>制作年：<%= @movie.year %>年</li>
        <li>あらすじ
          <div>
            <%= @movie.synopsis %>
          </div>      
        </li>
      </ul>
    </div>  
  </div>
</div>
<h2>・レビュー</h2>
