<%= stylesheet_link_tag 'favorites' %>

<h1 class="p-3 mb-2 bg-light text-dark" id="page-top">
  <%= @user.name %>のお気に入り作品リスト
  <span class="badge badge-secondary">登録件数:<%= @counts_favorite %></span>
</h1>

<p>1ページあたりにおけるアニメ作品、映画作品の表示可能件数はそれぞれ10作品までです。それを超えるとページネーションされます。<p>

<div class="row">
  <div id="animation" class="col-6">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>アニメ作品<span class="badge badge-secondary ml-2"><%= @counts_ainmation %></span></th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_movies.where(category: 0).each do |movie| %>
          <tr>
            <th class="text-center">
              <%= image_tag movie.image_path %>
              <%= link_to movie.title, movie_path(movie) %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div id="movie" class="col-6">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>映画作品<span class="badge badge-secondary ml-2"><%= @counts_movie %></span></th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_movies.where(category: 1).each do |movie| %>
          <tr>
            <th>
              <%= image_tag movie.image_path %>
              <%= link_to movie.title, movie_path(movie) %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @counts_ainmation > 10 || @counts_movie > 10 %>
  <%= paginate @favorite_movies %>
<% end %>