<% if logged_in? %>
  <h2 class="p-3 mb-2 bg-light text-dark" id="page-top">このサイトについて</h2>
  <p>
    ようこそ、<span class="font-weight-bold">「work-reviews」</span>へ。このサイトは、Webアプリケーション学習の集大成として作ったアニメ、映画作品のレビューサイトです。
    レビューや、作品の詳細を見たいときは、下記の検索フォームに入力。または、作品の頭文字をクリックして、お好きな作品を探してください(アニメーション映画はアニメ作品として表示しています)。
    お気に入り作品の閲覧、作品評価ランキング、ログアウトは右上のメニューバーからどうぞ。<br>
    トップページに戻る場合はページ下部のリンク、もしくは、<span style="color: red">左上のロゴ画像</span>をクリックしてください。
  </p>
  
  <h2 class="p-3 mb-2 bg-light text-dark">作品データベースについて</h2>
  <p class="mb-5">作品のデータベースは、アニメ作品は<a href="https://anime.dmkt-sp.jp/" target="_blank" rel="noopener noreferrer">dアニメストア</a>、
    映画作品は<a href="https://eiga.com/" target="_blank" rel="noopener noreferrer">映画.com</a>を元につくりました。
    また、登録作品は、独断と偏見で決めたので、見当たらない作品が多々あるかと思います。
  </p>
  
  <h2 class="p-3 mb-4 bg-light text-dark">作品を探す</h2>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= form_with url: '/', method: :get, local: true do |f| %>
        <div class="form-group">  
          <%= f.text_field :title, placeholder: '作品タイトル or キーワード', class: 'form-control' %>
        </div>
        <%= f.submit '検索する', class: 'btn btn btn-secondary btn-block mb-3'%>
      <% end %>
      <div class="d-flex justify-content-center mb-3">
        <%= @notfound_message %>
        <ul>
          <% @movies.each do |movie| %>
            <li><%= link_to movie.title, movie_path(movie)%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div>
    <table class='table table-bordered'>
      <thead class="bg-light">
        <tr>
          <th class='text-center'>アニメ作品</th>
          <th class='text-center'>映画作品</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @letters_set.each do |letters| %>
            <tr>
              <td class='text-center'>
                <% letters.each do |letter| %>
                  <%= link_to letter, movies_path(category: 0, initial: letter) %>
                <% end %>
              </td>
              <td class='text-center'>
                <% letters.each do |letter| %>
                  <%= link_to letter, movies_path(category: 1, initial: letter) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <%= render 'toppages/unlogged_in_index'%>
<% end %>