<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a id="aplication-logo" class="navbar-brand" href="/">
      <%= image_tag "https://res.cloudinary.com/hggksoylm/image/upload/c_scale,w_200/v1598083951/material/logo2_ajya6o.png" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item navbar-text navbar-right"><i class="fas fa-user"></i> ログインユーザ：<%= current_user.name %><li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle ml-3 bg-dark text-white" data-toggle="dropdown">メニュー</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="nav-item"><%= link_to 'トップページに戻る', root_path %></li>
              <div class="dropdown-divider"></div>
              <li class="nav-item"><%= link_to 'お気に入り作品', favorites_user_path(current_user) %></li>
              <div class="dropdown-divider"></div>
              <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %><li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>